<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" content="application/json">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/Styles/loginAlumnos.css">
    
    <title>Sigin Alumno</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="../public/user-protection.png" id="icon" alt="User Icon" />
            </div>
            <form method="POST" action="/Usuario/sigin" enctype="application/x-www-form-urlencoded">
                <input type="text" id="Name" class="fadeIn second" name="Name" placeholder="Name">
                <input type="text" id="LastName" class="fadeIn second" name="LastName" placeholder="Last Name">
                <input type="email" id="Email" class="fadeIn second" name="Email" placeholder="Email">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="button" class="fadeIn fourth" value="Create" onclick="Enviar(this.parentNode)">
            </form>
            <div id="formFooter">
                <a href="/">Home</a>
            </div>
        </div>
    </div>
    <script>
        function Enviar(obj){
            var Name = obj.getElementsByTagName('input')[0].value.trim();
            var LastName = obj.getElementsByTagName('input')[1].value.trim();
            var Email = obj.getElementsByTagName('input')[2].value.trim();
            var Password = obj.getElementsByTagName('input')[3].value.trim();
        
            var xhr = new XMLHttpRequest();
            var url = "/Usuario/sigin";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var data = JSON.stringify({"Name": Name, "LastName":LastName, "Email":Email, "Password": Password});
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if(this.responseText == "Existente"){
                        alert("Uauario ya Existente");
                    }
                    else if(this.responseText == "Correcto"){
                        alert("Ucuario registrado correctamente");
                        window.location ="/Usuario/login";
                    }
                }
            };
            xhr.send(data);
        }
    </script>
</body>
</html>